TESTJC/services/vmsampleservice_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="vmsampleservice"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="vmsampleserviceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="vmsampleserviceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="vmsampleserviceOperationRequest">
		<wsdl:part name="parameters" element="tns:vmsampleserviceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="vmsampleserviceOperationResponse">
		<wsdl:part name="parameters" element="tns:vmsampleserviceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="vmsampleservicePortType">
		<wsdl:operation name="vmsampleserviceOperation">
			<wsdl:input message="tns:vmsampleserviceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:vmsampleserviceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="vmsampleserviceBinding" type="tns:vmsampleservicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="vmsampleserviceOperation">
			<soap:operation soapAction="http://www.talend.org/service/vmsampleserviceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="vmsampleservice">
		<wsdl:port name="vmsampleservicePort" binding="tns:vmsampleserviceBinding">
			<soap:address location="http://localhost:8090/services/vmsampleservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>